html, body{
  color: #000;
  background-color: #fff;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}
h1{
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
h2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
h3{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
}
h4{
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3px;
}
p{
  margin: 0px;
  padding: 10px;
}
.container-fluid{
  padding: 0px;
}
.row{
  margin: 0px;
}
.break{
  min-height: 70px;
  background-color: black
}
.navbar-brand img{
  max-width: 50px;
}
.navbar {
  margin-bottom: 0;
  background-color: #fff;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-weight: 500;
  min-height: 70px;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.066);
}
.navbar li a{
  color: #000 !important;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-nav{
  padding-left: 30px;
}
.navbar .navbar-brand{
  color: #000 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #118DF0 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.navbar-header{
  padding-left: 100px;;
}
.jumbotron{
  background-color: #118DF0;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.landing{
  padding: 200px 10px;
  text-align: center;
  height: 100vh;
}
.landing h1{
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.landing h2, .landing p{
  color: #000;
}
footer{
  background-color: #f6f6f6;
}
footer a{
  color: #00B3AA;
}
.address{
  font-size: 1.5rem;
  font-weight: 400;
}

/* login page */
.menu{
  background-color: #EFEFEF;
  height: 100vh;
  padding: 50px 10px;
  font-weight: 300;
  font-size: 14px;
}
.menu img{
  width: 30%;
}
.login{
  padding: 100px;
}
.content{
  height: 100vh;
  background-color: #fff;
  padding: 200px 20px;
  text-align: center;
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input[type=text], input[type=password]{
  padding: 10px 20px;
  width: 90%;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button{
  background-color: #4CAF50;
  color: #fff;
  padding: 5px 0;
  width: 90%;
  border: none;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
.trandmark{
  padding-top: 100px;
  font-size: 12px;
  font-weight: 300;
}
/* home page */
hr{
  border-top: 1px dashed #8c8b8b;
}
.menu a{
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  margin: 5px 0;
}
.menu a:hover{
  text-decoration: none;
  display: block;
  background-color: #444;
  width: 100%;
  padding: 10px 20px;
  color: #fff;
}
